.logout {
    background-color : red;
    position: absolute;
    bottom: 0px;
    text-decoration: none;
}

.avatar {
    border-radius: 30px;
    margin: 10px
}

.manage {
    padding-right:  10px
}